<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="alien1" class="com.chayan.spring_demo.model.Alien" autowire="byType">
<property name ="age" value="21"></property>

    </bean>
    <bean id="com1" class="com.chayan.spring_demo.model.Laptop" primary="true"></bean>
  <bean id="com2" class="com.chayan.spring_demo.model.Desktop" lazy-init="true"></bean>

</beans>